# LaTeX
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.listing
*.pdf
!Betriebssysteme/betriebssysteme-folien/TU_Logo_lang_RGB_red.pdf
!Betriebssysteme/betriebssysteme-folien/TU_Logo_kurz_RGB_red.pdf

# clutter
.DS_Store
